<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Tf-auth</title>
    <base href="/oauth/">
    <meta name="description" content="Authentication server.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="" class="contrast" ><strong>Tf-auth</strong></a></li>
      </ul>
      <ul>
        <li><a href="signout" class="contrast">Signout</a></li>
        <li><a href="#" class="contrast" data-theme-switcher="auto">Auto</a></li>
        <li><a href="#" class="contrast" data-theme-switcher="light">Light</a></li>
				<li><a href="#" class="contrast" data-theme-switcher="dark">Dark</a></li>
      </ul>
    </nav>
		<!-- ./ Nav -->

    <!-- Main -->
    <main class="container">
			{% block content %}{% endblock %}
    </main>
		<!-- ./ Main -->

    <!-- Minimal theme switcher -->
    <script>
		</script>

  </body>
</html>
