table {
    height: 100%;
    width:  100%;
    column-gap: 0px;
    border-collapse: collapse;
}

td {
    grid-template-columns: 30% 30% 40%;
    grid-area: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    /*border-top: solid;
    border-bottom: solid;*/
    text-align: center;
    margin: none;
    padding: none;
    height: 150px;
}

tr {
    width:100%;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.activities {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: none;
}

.profileimg img {
    border-radius: 50%;
    min-width: 100px;
    height: 150px;
}
