header h3 {
    display: inline;
}

html {
    height: 100%;
    /**background-image: url('/static/img/background.png');*/
    background-size: cover;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0px;
}
body {
    height: 100%;
    margin: 0px;
}


header {
    height: 40px;
    background-color: #2d3e50;
    color: white;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
}

header .router-link-active {
    background-color: #4d5e70;
}

.menugroup {
    display: flex;
    align-items: center;
}

.menugroup a {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 2px;
    padding-right: 2px;
}



main {
    flex: 1;
}

.space {
    flex: 1;
}

footer {
    height: 60px;
    background-color: #2d3e50;
    margin-bottom: 0px;
    color: white;
    display: flex;
    align-items: center;
}

footer a {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.new, .post {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.posttext {
    white-space: pre-wrap;
}
.postheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postfooter button, .postfooter p, .postheader button, .postheader p{
    display: inline;
}
.imgcontainer {
    display: flex;
    /*max-height: 1000px;*/
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: space-between;
}

.postimg2 img , .postimg1 img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.postimg1 {
    width: 100%;
}

.postimg1 a, .postimg2 a{
    width: 100%;
}

.postimg2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.newpost {
    width: 100%;
    display: column;
}

textarea {
    width: 100%;
}

.settings, .logregdiv {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
}

.settings form, .logregdiv form {
    max-width: 300px;
    margin-left:auto;
    margin-right: auto;
}

.settings input, .logregdiv input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.file {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.file i {
    margin-top: auto;
    margin-bottom: auto;
}


@media only screen and (max-width: 1500px){
    .new, .post {
        max-width: 700px;
    }
}
@media only screen and (max-width: 1200px){
    .new, .post {
        max-width: 600px;
    }
}

@media only screen and (max-width: 500px){
    .menugroup_left {
        display: none;
    }
    footer a {
        font-size: 12px;
    }
}

