.navbar {
	padding: 0.8em;
	box-shadow: 0 .25rem 1rem rgba(48,55,66,.15);
	z-index:0;
	background:#2d3e50;
}

.activity-image {
	border-radius:50%;
}

.tile {
	margin-top:5%;
}

.panel {
	z-index:1;
	box-shadow: 0 .25rem 1rem rgba(48,55,66,.15);
}

.stats-body {
	line-height: 1.8vw;
}

.stats {
	font-size: 0.9vw;
}

#map {
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.container {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
}

#activities_wrapper {
	padding-bottom: 2%;
}

.plot {
	height:100%;
}

html, .panel, .container, .stats {
	height:100%;
}

body {
	height:90%;
}
