{% extends "base.html" %}
{% block content %}

{% let is_owner -%}
{% match id.identity() -%}
  {% when Some with (value) -%}
    {% if value == username -%}
      {% let is_owner = true -%}
    {% else -%}
      {% let is_owner = false %}
    {% endif -%}
  {% when None -%}
    {% let is_owner = false %}
{% endmatch -%}

<style>
.grid-container {
  height:100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.map { grid-area: 1 / 1 / 4 / 5; }
.stats { grid-area: 1 / 5 / 4 / 6; }
.plot { grid-area: 4 / 1 / 6 / 6; }
.override {
  font-size: 1vw;
}
</style>

<div class="container">
  <div class="columns">
    <div class="col-4">
      <h2>{{ title }}</h2>
    </div>
    <div class="col-5">
      {% match notes %}
	{% when Some with (value) -%}
	  <p class="text-tiny note">{{ value }}</p>
	{% when None -%}
      {% endmatch %}
    </div>
    <div class="col-3 text-right">
      {% match prev %}
	{% when Some with (value) %}
	  <a href="{{ value.url }}">
	    <button class="btn btn-primary">Previous</button>
	  </a>
	{% when None %}
	  <button class="btn btn-primary" disabled>Previous</button>
      {% endmatch %}
      {% match next %}
	{% when Some with (value) %}
	  <a href="{{ value.url }}">
	    <button class="btn btn-primary">Next</button>
	  </a>
	{% when None %}
	  <button class="btn btn-primary" disabled>Next</button>
      {% endmatch %}
      {% if is_owner -%}
	<a href="{{ activity_url }}/settings">
	  <button class="btn">Settings</button>
	</a>
      {% endif -%}
    </div>
  </div>
  <div class="grid-container">
    <div class="map" id="map">
      {% if !coords.is_empty() -%}
	<link rel="stylesheet" href="{{ url._static }}/css/leaflet.css" />
	<script src="{{ url._static }}/js/leaflet.js"></script>
	<script>
	  var map = L.map('map').fitBounds([
	    [{{ session.nec_lat.unwrap() }}, {{ session.nec_lon.unwrap() }}],
	    [{{ session.swc_lat.unwrap()}}, {{ session.swc_lon.unwrap()}}]
	  ]);

	  var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	    'maxNativeZoom': 18,
	    'maxZoom': 18,
	    'minZoom': 0,
	    'subdomains': 'abc'
	  }).addTo(map);

	  var line = L.polyline([
	    {% for coord in coords  -%}
	      [{{ coord.1 }}, {{ coord.0 }}],
	    {% endfor -%}
	  ],
	  {'bubblingMouseEvents': true, 'color': '#FF0000', 'dashArray': null, 'dashOffset': null, 'fill': false, 'fillColor': '#FF0000', 'fillOpacity': 0.2, 'fillRule': 'evenodd', 'lineCap': 'round', 'lineJoin': 'round', 'noClip': false, 'opacity': 1.0, 'smoothFactor': 1.0, 'stroke': true, 'weight': 2}
	  ).addTo(map);

	  const mapDiv = document.getElementById('map');
	  const resizeObserver = new ResizeObserver(() => {
  	    map.invalidateSize();  
	    map.fitBounds([
	      [{{ session.nec_lat.unwrap() }}, {{ session.nec_lon.unwrap() }}],
	      [{{ session.swc_lat.unwrap()}}, {{ session.swc_lon.unwrap()}}]
	    ]);
	  });

	  resizeObserver.observe(mapDiv);
	</script>
      {% else %}
	<p style="margin-top:10%; text-align:center;">Activity does not contain any geographic data</p>
      {% endif %}
    </div>
    <div class="stats">
      <div class="panel">
	<a href="/user/{{ username }}">
	  <div class="panel-header text-center">
	    <figure class="avatar avatar-lg" data-initial="{{ "{:.1}"|format(username)|upper }}">
	    </figure>
	    <div class="panel-title h5 mt-10 mx-2 d-inline-block">{{ username }}</div>
	  </div>
	</a>
	<div class="panel-body stats-body">
	  <ul>
	    <li><strong>Activity type: </strong>{{ session.activity_type }}</li>
	    {% match gear -%}
	      {% when Some with (value) -%}
		<li><strong>Gear: </strong>{{ value }}</li>
	      {% when None -%}
	    {% endmatch -%}
	    <li><strong>Duration: </strong>{{ session.duration_active }}</li>
	    {% match session.distance -%}
	      {% when Some with (value) -%}
		<li><strong>Distance: </strong>{{ value.display_km_mi(unit) }}</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.speed_max -%}
	      {% when Some with (value) -%}
		<li><strong>Max. speed: </strong>{{ value.display_km_mi(unit) }}</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.speed_avg -%}
	      {% when Some with (value) -%}
		<li><strong>Avg. speed: </strong>{{ value.display_km_mi(unit) }}</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.heartrate_max -%}
	      {% when Some with (value) -%}
		<li><strong>Max. heart rate: </strong>{{ value }} bpm</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.heartrate_avg -%}
	      {% when Some with (value) -%}
		<li><strong>Avg. heart rate: </strong>{{ value }} bpm</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.power_max -%}
	      {% when Some with (value) -%}
		<li><strong>Max. power: </strong>{{ value }} W</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.power_avg -%}
	      {% when Some with (value) -%}
		<li><strong>Avg. power: </strong>{{ value }} W</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.cadence_avg -%}
	      {% when Some with (value) -%}
		<li><strong>Avg. cadence: </strong>{{ value }} rpm</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.ascent -%}
	      {% when Some with (value) -%}
		<li><strong>Total ascent: </strong>{{ value.display_m_ft(unit) }}</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.descent -%}
	      {% when Some with (value) -%}
		<li><strong>Total descent: </strong>{{ value.display_m_ft(unit) }}</li>
	      {% when None -%}
	    {% endmatch -%}
	    {% match session.calories -%}
	      {% when Some with (value) -%}
		<li><strong>Total calories: </strong> {{ value }} kcal</li>
	      {% when None -%}
	    {% endmatch -%}
	  </ul>
	</div>
      </div>
    </div>
    <div class="plot">
	<script src="{{ url._static }}/js/plotly-basic.min.js"></script>
	{{ plot|safe }}
    </div>
  </div>
  <div class="my-3">
    {% if session.heartrate_avg.is_some() || session.heartrate_max.is_some() %}
      {% match zones -%}
	{% when Some with (value) -%}
	  <h4>Heart rate zone duration</h4>
	  <table class="table">
	    <thead>
	      <tr>
		<th>Zone 0 (&lt;55%)</th>
		<th>Zone 1 (55%-72%)</th>
		<th>Zone 2 (72%-82%)</th>
		<th>Zone 3 (82%-87%)</th>
		<th>Zone 4 (87%-92%)</th>
		<th>Zone 5 (&gt;92%)</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		{% for zone in value -%}
		  <td>{{ zone }}</td>
		{% endfor -%}
	      </tr>
	    </tbody>
	  </table>
	{% when None -%}
      {% endmatch -%}
    {% endif %}
  </div>
  <div class="my-3">
    {% if laps.len() > 1 -%}
      <h4 >Laps</h4>
      <table class="table">
	<thead>
	  <tr>
	    <th>Lap</th>
	    <th>Duration</th>
	    <th>Distance</th>
	    <th>Avg. speed</th>
	    <th>Max. speed</th>
	    <th>Avg. heart rate</th>
	    <th>Max. heart rate</th>
	    <th>Avg. power</th>
	    <th>Max. power</th>
	    <th>Avg. cadence</th>
	    <th>Total ascent</th>
	    <th>Total descent</th>
	  </tr>
	</thead>
	<tbody>
	  {% for lap in laps -%}
	    <tr>
	      <td>
	        {{ loop.index }}
	      </td>
	      <td>
	        {{ lap.duration_active }}
	      </td>
	      <td>
		{% match lap.distance -%}
	          {% when Some with (value) -%}
		    {{ value.display_km_mi(unit) }}
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.speed_avg -%}
	          {% when Some with (value) -%}
		    {{ value.display_km_mi(unit) }}
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.speed_max -%}
	          {% when Some with (value) -%}
		    {{ value.display_km_mi(unit) }}
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.heartrate_avg -%}
	          {% when Some with (value) -%}
		    {{ value }} bpm
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.heartrate_max -%}
	          {% when Some with (value) -%}
		    {{ value }} bpm
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.power_avg -%}
	          {% when Some with (value) -%}
		    {{ value }} W
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.power_max -%}
	          {% when Some with (value) -%}
		    {{ value }} W
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.cadence_avg -%}
	          {% when Some with (value) -%}
		    {{ value }} rpm
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.ascent -%}
	          {% when Some with (value) -%}
		    {{ value.display_m_ft(unit) }}
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	      <td>
	        {% match lap.descent -%}
	          {% when Some with (value) -%}
		    {{ value.display_m_ft(unit) }}
	          {% when None -%}
	        {% endmatch -%}
	      </td>
	    </tr>
	  {% endfor -%}
	</tbody>
      </table>
    {% endif %}
  </div>
</div>

{% endblock %}
