<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{title} - TF-Auth</title>
    <meta name="description" content="TF Auth server.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/sign-in/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong>Tf-auth</strong></a></li>
      </ul>
      <ul>
        <li><a href="#" class="contrast" data-theme-switcher="auto">Auto</a></li>
        <li><a href="#" class="contrast" data-theme-switcher="light">Light</a></li>
				<li><a href="#" class="contrast" data-theme-switcher="dark">Dark</a></li>
      </ul>
    </nav>
		<!-- ./ Nav -->

    <!-- Main -->
    <main class="container">
			{template}
    </main>
		<!-- ./ Main -->

    <!-- Minimal theme switcher -->
    <script>
			{switcher_script}
		</script>

  </body>
</html>
