<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in - Tf-viewer</title>
  <link rel="stylesheet" href="static/css/spectre.min.css">
</head>
<body>
  <div class="container">
    <h2>Sign up</h2>
      <form action="signup" method="POST" class="form-group">
	<fieldset>
	  <div class="form-group">
	    <label class="form-label" for="username">Username</label>
	    <input type="text" class="form-input" name="username" id="username" pattern="^[a-zA-Z0-9-_]{2,15}$" autofocus required 
	      title="Please enter a username consisting of only letters, numbers, hyphen (-) and underscore (_).">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="password">Password</label>
	    <input type="password" class="form-input" name="password" id="password" required
	      pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{14,}$"
	      title="Please enter a password consisting of minimum 14 characters, with at least one uppercase, one lowercase, one number and one special character">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="confirm_password">Confirm password</label>
	    <input type="password" class="form-input" name="confirm_password" id="confirm_password" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Sign up</button>
	</fieldset>
      </form>
      <p>Already registered? <a href="signin">Sign in</a></p>
  </div>
</body>
</html>
