<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Tf-viewer</title>
    <link rel="stylesheet" href="{{ url._static }}/css/spectre.min.css">
    <link rel="stylesheet" href="{{ url._static }}/css/spectre-exp.min.css">
    <link rel="stylesheet" href="{{ url._static }}/css/spectre-icons.min.css">
    <link rel="stylesheet" href="{{ url._static }}/css/stylesheet.css">
    <link rel="icon" href="{{ url._static }}/img/favicon.png">
</head>
<body>
<header class="navbar">
  <div class="navbar-section">
	<a href="{{ url.index }}" class="navbar-brand text-bold text-light mr-2">Tf-viewer</a>
  </div>
  <div class="navbar-section">
	<a href="{{ url.userindex }}" class="btn btn-link text-light">Users</a>
	<a href="{{ url.activityindex }}" class="btn btn-link text-light">Activities</a>
	<a href="{{ url.gearindex }}" class="btn btn-link text-light">Gear</a>
	<a href="{{ url.upload }}" class="btn btn-link text-light">Upload</a>
	{% match id.identity() -%}
	{% when Some with (value) -%}
	<a href="{{ url.user }}" class="btn btn-link text-light">{{ value }}</a>
	{% when None -%}
	<a href="{{ url.login }}" class="btn btn-link text-light">Log in</a>
	{% endmatch %}
  </div>
</header>

{% block content %}
{% endblock %}
</body>
</html>
