{% extends "base.html" %}
{% block content %}

<h2>Recent activities</h2>


<div class="activities">
<table>
{% for activity in template_data %}
    <tr>
        <td>
            <div class="profileimg">
		<img src="{{ url._static }}/img/user/{{ activity.username }}.png"
                    alt="No profile picture"
                    height=100px>
		<p>{{ activity.username }}</p>
            </div>
        </td>
        <td>
            <h3>{{ activity.session.start_time.0.format("%d.%m.%Y %H:%M").to_string() }}</h3>
            <p>{{ activity.session.duration_active.to_string() }}
            {% match activity.session.distance -%}
            	{% when Some with (value) -%}
        		, {{ value }} km
        	{% when None -%}
            {% endmatch -%}	
            </p>
        </td>
        <td>
            <img
		src="{{ url._static }}/img/activity/{{ activity.id }}.png">
        </td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}
