{% extends "base.html" %}
{% block content %}

<style>
  .columns {
    margin-bottom: 2%;
  }
  span {
    display:block;
  }
</style>

<div class="container">
  <h2>{{ title }}</h2>
  <div class="columns">
    <div class="column col-12">
      {% for activity in template_data -%}
	<a href="{{ activity.url.url }}">
	  <div class="tile index-tile">
	    <div class="tile-icon">
	      <figure class="avatar avatar-xl" data-initial="{{ "{:.1}"|format(activity.username)|upper }}">
	      </figure>
	      <p class="text-center">{{ activity.username }}</p>
	    </div>
	    <div class="tile-content">
	      <h3 class="tile-title text-centered ">{{ activity.session.start_time }}</h3>
	      <p class="tile-subtitle text-centered">
		<span>{{ activity.session.duration_active }}</span>
		{% match activity.session.distance %}
		  {% when Some with (value) -%}
		    <span>{{ value.display_km_mi(unit) }}</span>
		  {% when None -%}
		{% endmatch -%}
		<span>{{ activity.session.activity_type }}</span>
	      </p>
	    </div>
	    <div class="tile-action">
	      <img src="{{ url._static }}/img/activity/{{ "{}_{}"|format(activity.username, activity.id) }}.png" class="img-fit-contain activity-image" height="150">
	    </div>
	  </div>
	</a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
