{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url._static }}/css/dropzone.min.css">
<script src="{{ url._static}}/js/dropzone.min.js"></script>

<div class="container">
  <h2>Upload</h2>
  <div class="columns">
    <div class="column col-auto">
      <span class="btn btn-success fileinput-button">
	<i class="icon icon-plus"></i>
	<span>Add files...</span>
      </span>
    </div> 
    <div class="column col-auto m-2">
      <span class="fileupload-process">
	<div class="bar bar-sm">
  	  <div class="bar-item progress-bar" id="total-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
      </span>
    </div>
  </div>
  <div class="table files columns" id="previews">
    <div class="card template column col-1" id="template">
      <div class="card-header">
	<div class="card-title text-center text-ellipsis" data-dz-name></div>
      </div>
      <div class="card-body">
	<div class="result">
	  <div class="upload-success">
	    <span>
	      <i class="icon icon-check "></i>
	    </span>
	  </div>
	  <div class="upload-error">
	    <span class="error label label-error text-tiny" data-dz-errormessage></span>
	  </div>
	</div>
      </div>
      <div class="card-footer">
	<p class="size" data-dz-size></p>
	<div class="bar bar-sm">
	  <div class="bar-item progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
	</div>
      </div>
    </div>
  </div>
</div>
<script>
  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector(".template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "{{ url.upload|safe }}", // Set the url
    parallelUploads: 20,
    maxFilesize: 50,
    acceptedFiles: ".fit",
    previewTemplate: previewTemplate,
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  });
</script>

{% endblock %}
