{% extends "base.html" %}
{% block content %}
  
<div class="container">
  <h2 class="text-center">{{ title }}</h2>
  {% match message -%}
    {% when Some with (value) -%}
      <p>{{ value }}</p>
    {% when None -%}
  {% endmatch -%}
  <form action="add" method="POST" class="form-group ">
    <fieldset>
      <div class="form-group">
	<label class="form-label" for="name">Gear name</label>
	<input class="form-input" type="text" name="name" id="name" placeholder="Name">
      </div>
      <div class="form-group">
	<label class="form-label" for="fixed_distance">Fixed distance</label>
	<input class="form-input" type="number" step="0.1" min="0" name="fixed_distance" id="fixed_distance" placeholder="Fixed distance" value="0.0">
      </div>
      <div class="form-group">
	<label class="form-label" for="gear_type">Gear type</label>
	<select class="form-select" name="gear_type" id="gear_type">
	  <option value="road_bike">Road bike</option>
	  <option value="hybrid_bike">Hybrid bike</option>
	  <option value="tt_bike">Time trial bike</option>
	  <option value="offroad_bike">Offroad bike</option>
	  <option value="running_shoes">Running shoes</option>
	</select>
      </div>
      <div class="form-group">
	<label class="form-checkbox">
	  <input type="checkbox" id="standard" name="standard" value="true">
	  <i class="form-icon"></i> Set gear as standard?
	</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>

{% endblock %}
