{% extends "base.html" %}
{% block content %}
  
<div class="container">
  <form action="add" method="POST" class="form-group">
    <fieldset>
      <input type="text" name="name" id="name" placeholder="Name">
      <select name="kind" id="kind">
	<option value="road bike">Road bike</option>
	<option value="hybrid bike">Hybrid bike</option>
	<option value="tt bike">TT bike</option>
	<option value="offroad bike">Offroad bike</option>
	<option value="running shoes">Running shoes</option>
      </select>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </fieldset>
  </form>
  <p>Not registered? <a href="{{ url.register }}">Sign up</a></p>
</div>

{% endblock %}
