{% extends "base.html" %}
{% block content %}
  
<div class="container">
  <h2>Sign in</h2>
  {% match message %}
    {% when Some with (value) %}
      <div class="toast toast-error">
	{{ value }}
      </div>
    {% when None %}
  {% endmatch %}
  <form action="signin" method="POST" class="form-group">
    <fieldset>
      <div class="form-group">
	<label class="form-label" for="username">Username</label>
	<input type="text" class="form-input" name="username" id="username" autofocus required>
      </div>
      <div class="form-group">
	<label class="form-label" for="password">Password</label>
	<input type='password' class="form-input" name='password' id='password' required>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </fieldset>
  </form>
  <p>Not registered? <a href="{{ url.signup }}">Sign up</a></p>
</div>

{% endblock %}

