{% extends "base.html" %}
{% block content %}
 
<link rel="stylesheet" href="{{ url._static }}/css/dropzone.min.css">
<script src="{{ url._static}}/js/dropzone.min.js"></script>

<div class="container">
  <h2>Upload profile picture</h2>
  <div class="columns">
    <div class="column">
      <form action="avatar" class="dropzone" id="profile_picture"></form>
    </div>
  </div>
</div>

<script>
  var myDropzone = Dropzone.options.profilePicture = {
    maxFilesize: 10,
    maxFiles: 1,
    acceptedFiles: "image/png,image/jpeg",
  };
</script>

{% endblock %}
