{% extends "base.html" %}
{% block content %}
  
<div class="container">
  <h2>Settings</h2>
  <div class="columns">
    <div class="column">
      <div class="divider"></div>
      <h5>Heart rate</h5>
      <form action="settings" method="POST" class="form-group">
	<fieldset>
	  <div class="form-group">
	    <label class="form-label" for="heartrate_rest">Resting heart rate</label>
	    <input type="number" class="form-input" step="1" min="0" name="heartrate_rest" id="heartrate_rest" placeholder="{{ heartrate.unwrap_or_default().0 }}">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="heartrate_max">Max. heart rate</label>
	    <input type="number" class="form-input" step="1" min="0" name="heartrate_max" id="heartrate_max" placeholder="{{ heartrate.unwrap_or_default().1 }}">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</fieldset>
      </form>
      <div class="divider" data-content=""></div>
      <h5>Password</h5>
      {% match message -%}
	{% when Some with (value) -%}
	  <div class="toast toast-error">
	    {{ value }}
	  </div>
	{% when None -%}
      {% endmatch -%}
      <form action="settings" method="POST" class="form-group">
	<fieldset>
	  <div class="form-group">
	    <label class="form-label" for="current_password">Current password</label>
	    <input type="password" class="form-input" name="current_password" id="current_password" autofocus required>
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="new_password">New password</label>
	    <input type="password" class="form-input" name="new_password" id="new_password" required
	      pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{14,}$"
	      title="Please enter a password consisting of minimum 14 characters, with at least one uppercase, one lowercase, one number and one special character">
	  </div>
	  <div class="form-group">
	    <label class="form-label" for="confirm_password">Confirm password</label>
	    <input type="password" class="form-input" name="confirm_password" id="confirm_password" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
