{% extends "base.html" %}
{% block content %}

{% let is_owner -%}
{% match id.identity() -%}
  {% when Some with (value) -%}
    {% if value == username -%}
      {% let is_owner = true -%}
    {% else -%}
      {% let is_owner = false %}
    {% endif -%}
  {% when None -%}
    {% let is_owner = false %}
{% endmatch -%}

<div class="container">
  <h2>Profile</h2>
  <div class="columns">
    <div class="column col-8">
      <table class="table">
	<thead>
	  <tr>
	    <th>Last 30 days</th>
	    <th>Distance</th>
	    <th>Duration</th>
	    <th>Activities</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Cycling</th>
	    <td>{{ user_totals.cycling_month.0 }} km</th>
	    <td>{{ user_totals.cycling_month.1 }}</th>
	    <td>{{ user_totals.cycling_month.2 }}</th>
	  </tr>
	  <tr>
	    <td>Running</th>
	    <td>{{ user_totals.running_month.0 }} km</th>
	    <td>{{ user_totals.running_month.1 }}</th>
	    <td>{{ user_totals.running_month.2 }}</th>
	  </tr>
	</tbody>
	<thead>
	  <tr>
	    <th>Year to date</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Cycling</th>
	    <td>{{ user_totals.cycling_year.0 }} km</th>
	    <td>{{ user_totals.cycling_year.1 }}</th>
	    <td>{{ user_totals.cycling_year.2 }}</th>
	  </tr>
	  <tr>
	    <td>Running</th>
	    <td>{{ user_totals.running_year.0 }} km</th>
	    <td>{{ user_totals.running_year.1 }}</th>
	    <td>{{ user_totals.running_year.2 }}</th>
	  </tr>
	</tbody>
	<thead>
	  <tr>
	    <th>All time</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Cycling</th>
	    <td>{{ user_totals.cycling_all.0 }} km</th>
	    <td>{{ user_totals.cycling_all.1 }}</th>
	    <td>{{ user_totals.cycling_all.2 }}</th>
	  </tr>
	  <tr>
	    <td>Running</th>
	    <td>{{ user_totals.running_all.0 }} km</th>
	    <td>{{ user_totals.running_all.1 }}</th>
	    <td>{{ user_totals.running_all.2 }}</th>
	  </tr>
	</tbody>
      </table>
    </div>
    <div class="column col-1">
    </div>
    <div class="column col-3">
      <div class="panel">
	<div class="panel-header text-center">
	  <figure class="avatar avatar-xxl" data-initial="{{ "{:.1}"|format(username)|upper }}">
	    <img src="{{ url._static }}/img/user/{{ username }}.png?{{ crate::models::TimeStamp::default() }}" alt="">
	  </figure>
	  <div class="panel-title h5 mt-10">{{ username }}</div>
	</div>
	<div class="panel-body">
	  <ul class="menu">
	    <li class="menu-item">
	      <a href="/user/{{ username }}/activity">Activities</a>
	    </li>
	    <li class="menu-item">
	      <a href="/user/{{ username }}/gear">Gear</a>
	    </li>
	    {% if is_owner -%}
	      <li class="menu-item">
		<a href="/user/{{ username }}/settings">Settings</a>
	      </li>
	      <li class="menu-item">
		<a href="/user/{{ username }}/settings/avatar">Change profile picture</a>
	      </li>
	    {% endif -%}
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
